@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-poppins), sans-serif;
  background: black;
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #000;
  background-image: radial-gradient(circle at 50% 50%, #0c002b 0%, #000 70%);
}

@layer base {
  /* Set font variables */
  :root {
    --font-poppins: "Poppins", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
  }
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 4s linear infinite;
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.animate-\[shimmer_3s_infinite\] {
  background-size: 200% auto;
  animation: shimmer 3s linear infinite;
}

.shimmer {
  background: linear-gradient(90deg, #1f2933 0%, #2d3748 50%, #1f2933 100%);
  background-size: 200% 100%;
  animation: shimmer 1.6s linear infinite;
}
